<div class="logo">
  <a href="">
    <img src="/assets/logo.png" alt="Pray at Mosque"/>
  </a>
</div>
<div class="menu-toggler sidebar-toggler">
</div>
<div class="content">
  <% resource_name = :user %>
  <%= form_for(User.new, as: resource_name, url: session_path(resource_name), :html => {:id => "admin_login"}) do |f| %>
      <form class="login-form" action="" method="post">
        <h3 class="form-title">Login as a "Admin"</h3>

        <div class="alert alert-danger display-hide">
          <button class="close" data-close="alert"></button>
            <span>
            Enter any username and password. </span>
        </div>
        <div class="form-group">
          <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
          <label class="control-label visible-ie8 visible-ie9">Username</label>

          <div class="input-icon">
            <!--<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username"/>-->
            <%= f.email_field :email, autofocus: true, :class => "form-control placeholder-no-fix", :placeholder => "Email" %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Password</label>

          <div class="input-icon">
            <!--<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password"/>-->
            <%= f.password_field :password, autocomplete: "off", :class => "form-control placeholder-no-fix", :placeholder => "Password" %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          <%= button_tag "Sign in", :type => "button", :class => "btn green pull-right", :onclick => ' submit_sign_in()' %>
          </br>
        </div>
        <%#= render "users/shared/links" %>

      </form>
  <% end %>
</div>
<div class="copyright">
  Pray at Mosque.
</div>
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init() // init quick sidebar
//Login.init();
    });


    function submit_sign_in() {
        if ($("#admin_login").valid() == true) {
            $("#admin_login").submit();
        }
    }

    $("#admin_login").validate({
        rules: {
            "user[email]": {
                required: true,
                email: true,
                maxlength: 255,
                minlength: 5
            },
            "user[password]": {
                required: true,
                maxlength: 255,
                minlength: 8
            }
        }
    });
</script>

<style>
    body {
        color: #000000
    }
</style>
