<div id="panel_body" class="page-content-wrapper">
  <div class="page-content" style="min-height:1215px">
    <div class="row">
      <div class="col-md-12">
        <div class="page-content-col">
          <div class="row">
            <div class="col-md-12">
              <div class="profile-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="portlet light">
                      <div class="portlet-title tabbable-line">
                        <div class="caption caption-md margin-right-10">
                          <i class="icon-globe theme-font hide"></i>
                          <span class="caption-subject font-blue-madison bold uppercase">Profile</span>
                        </div>
                        <ul class="nav nav-tabs">
                          <li class="active">
                            <a data-toggle="tab" href="#tab_1_1" aria-expanded="false">Personal Info</a>
                          </li>
                          <li class="">
                            <a data-toggle="tab" href="#tab_1_2" aria-expanded="false">Change Avatar</a>
                          </li>
                          <li class="">
                            <a data-toggle="tab" href="#tab_1_3" aria-expanded="false">Change Password</a>
                          </li>
                          <li class="">
                            <a data-toggle="tab" href="#tab_1_4" aria-expanded="false">Payment Information</a>
                          </li>
                          <li class="">
                            <a data-toggle="tab" href="#tab_1_5" aria-expanded="false">Transaction</a>
                          </li>
                        </ul>
                      </div>
                      <div class="portlet-body">
                        <div class="tab-content">
                          <div id="tab_1_1" class="tab-pane active">
                            <%= form_for @user, :url => '/parent/parents/update_profile?profile=true', :html => {:id => 'profile_form', :multipart => true, :onsubmit => 'return false;', :type => 'patch'} do |f| %>
                                <div class="form-group">
                                  <label class="control-label">First Name</label>
                                  <%= f.text_field :first_name, :class => "form-control", :placeholder => "John" %>
                                </div>
                                <div class="form-group">
                                  <label class="control-label">Last Name</label>
                                  <%= f.text_field :last_name, :class => "form-control", :placeholder => "Doe" %>
                                </div>
                                <div class="form-group">
                                  <label class="control-label">Email</label>
                                  <%= f.email_field :email, :class => "form-control", :placeholder => "john.deo@gmail.com", :readonly => true %>
                                </div>
                                <div class="form-group">
                                  <label class="control-label">Mobile Number</label>
                                  <%= f.text_field :phone, :class => "form-control", :placeholder => "03124567890" %>
                                </div>
                                <div class="form-group">
                                  <label class="control-label">About</label>
                                  <%= f.text_area :about_me, :class => "form-control", :placeholder => "I am professional." %>
                                </div>
                                <div class="margiv-top-10">
                                  <a class="btn green" href="javascript:;" onclick="update_my_profile()"> Save
                                    Changes </a>
                                  <!--<a class="btn default" href="javascript:;"> Cancel </a>-->
                                </div>
                            <% end %>
                          </div>
                          <div id="tab_1_2" class="tab-pane">
                            <%= render :partial => 'profile_image' %>
                          </div>
                          <div id="tab_1_3" class="tab-pane">
                            <%= form_for @user, :url => "/parent/parents/update_password", :html => {:id => 'password_form', :multipart => true, :onsubmit => 'return false;', :method => "post"} do |f| %>
                                <div class="form-group">
                                  <label class="control-label">Current Password</label>
                                  <%= password_field_tag 'Old_Password', '', :placeholder => 'Old Password', :class => "form-control" %>
                                </div>
                                <div class="form-group">
                                  <label class="control-label">New Password</label>
                                  <%= f.password_field :password, :placeholder => "New Password", :id => "new_password", :class => "form-control" %>
                                </div>
                                <div class="form-group">
                                  <label class="control-label">Re-type New Password</label>
                                  <%= f.password_field :password_confirmation, :placeholder => "New Password, again", :id => "password_confirmation", :class => 'form-control' %>
                                </div>
                                <div class="margin-top-10">
                                  <a class="btn green" href="javascript:;" onclick="update_password()"> Change
                                    Password </a>
                                  <!--<a class="btn default" href="javascript:;"> Cancel </a>-->
                                </div>
                            <% end %>
                          </div>
                          <div id="tab_1_4" class="tab-pane">
                            <%#= PaymentInformation.new %>
                            <%= form_for :payment_information, :url => '/parent/parents/payment_info', :html => {:id => 'payment_info_form', :multipart => true, :onsumbit => 'return false'} do |p| %>
                                <!--<form action="#">-->
                                <div class="form-body">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>First Name</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[first_name]', "#{@payment_info.nil? ? '' : @payment_info.billing_address.first_name}", :autofocus => true, :class => "form-control", :placeholder => "First Name", :required => "required" %>
                                          <%= hidden_field_tag 'payment_information[card_holder]', "#{@payment_info.nil? ? '' : @payment_info.cardholder_name }" %>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>Last Name</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[last_name]', "#{@payment_info.nil? ? '' : @payment_info.billing_address.last_name}", :autofocus => false, :class => "form-control", :placeholder => "Last Name", :required => "required" %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>Credit Card</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[card_number]', "#{@payment_info.nil? ? '' : @payment_info.masked_number}", :autofocus => false, :class => "form-control", :placeholder => "Credit Card Number", :required => "required" %>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>CVV</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[cvv]', '', :autofocus => false, :class => "form-control", :placeholder => "CVV", :required => "required" %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>Expiry Date</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[expiry_date]', "#{@payment_info.nil? ? '' : @payment_info.expiration_date}", :autofocus => false, :class => "form-control date-picker", :placeholder => "Expiry Date", :required => "required" %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>Address</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[address]', "#{@payment_info.nil? ? '' : @payment_info.billing_address.street_address}", :autofocus => true, :class => "form-control", :placeholder => "Address" %>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>City</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[city]', "#{@payment_info.nil? ? '' : @payment_info.billing_address.locality}", :autofocus => true, :class => "form-control", :placeholder => "City" %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>State</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[state]', "#{@payment_info.nil? ? '' : @payment_info.billing_address.region}", :class => "form-control", :placeholder => "State" %>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>Country</label>

                                        <div class="input-group">
                                          <%= text_field_tag 'payment_information[country]', "#{@payment_info.nil? ? '' : @payment_info.billing_address.country_name}", :class => "form-control", :placeholder => "Country" %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-actions">
                                  <div class="z_100" id="save-btn">
                                    <a class="btn blue" href="javascript:void(0)" onclick="submit_payment_method()">Save</a>
                                  </div>
                                </div>
                            <% end %>
                          </div>
                          <div id="tab_1_5" class="tab-pane">
                            <%= form_for :transaction, :url => "/parent/parents/create_transaction", :html => {:id => 'transaction_form', :multipart => true, :onsubmit => 'return false;', :method => "post"} do |f| %>
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <label class="control-label">Current Balance</label>
                                      <label class="form-control"><%= @user.parent_balance %></label>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <label class="control-label">Submit Payment</label>
                                      <%= f.text_field :transaction_amount, :placeholder => "Enter Amount", :class => "form-control", :required => "required" %>
                                    </div>
                                  </div>
                                </div>
                                <div class="margin-top-10">
                                  <a class="btn green" href="javascript:;" onclick="perform_transaction()"> Submit</a>
                                  <!--<a class="btn default" href="javascript:;"> Cancel </a>-->
                                </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $("#profile_form").validate({
                rules: {
                    "user[first_name]": {
                        required: true,
                        maxlength: 255
                    },
                    "user[last_name]": {
                        required: true,
                        maxlength: 255

                    },
                    "user[email]": {
                        required: true,
                        maxlength: 255,
                        email: true
                    },
                    "user[phone]": {
                        required: true,
                        maxlength: 255,
                        minlength: 6,
                        number: true
                    },
                    "user[about_me]": {
                        maxlength: 255
                    }
                }

            }
    );
    function update_my_profile() {
        if ($("#profile_form").valid() == true) {
            $(".background_shadow").show();
            $("#profile_form").ajaxSubmit({
                success: function (data) {
                    if (data == "success") {
                        $(".background_shadow").hide();
                        hudMsg('success', 'Profile Updated successfully.')
                    }
                    else if (data == "error") {
                        $(".background_shadow").hide();
                        hudMsg('error', 'Something went wrong. Try again later.')
                    }
                },
                error: function (data) {
                }
            })
        }
    }

    $("#password_form").validate({
                rules: {
                    "user[password]": {
                        required: true,
                        maxlength: 255,
                        minlength: 8
                    },
                    "user[password_confirmation]": {
                        required: true,
                        maxlength: 255,
                        minlength: 8,
                        equalTo: '#new_password'
                    },
                    "Old_Password": {
                        required: true,
                        maxlength: 255,
                        minlength: 8
                    }
                }

            }
    );

    function update_password() {
        if ($("#password_form").valid() == true) {
            $(".background_shadow").show();
            $("#password_form").ajaxSubmit({
                success: function (data) {
                    if (data == "success") {
                        $(".background_shadow").hide();
                        hudMsg('success', 'Password updated successfully.')
                        $('#password_form').trigger("reset");
                    }
                    else if (data == "not") {
                        $(".background_shadow").hide();
                        hudMsg('error', 'Old password is wrong.')
                    }
                    else if (data == "error") {
                        $(".background_shadow").hide();
                        hudMsg('error', 'Something went wrong. Try again later.')
                    }
                }
            })
        }
    }

    $('.date-picker').datepicker({
        rtl: Metronic.isRTL(),
        autoclose: true,
        format: 'yyyy-mm-dd'
    });

    $("#payment_info_form").validate({
                rules: {
                    "payment_information[first_name]": {
                        maxlength: 255
                    },
                    "payment_information[last_name]": {
                        maxlength: 255

                    },
                    "payment_information[card_number]": {
                        required: true,
                        maxlength: 16,
                        minlength: 12
                    },
                    "payment_information[cvv]": {
                        required: true,
                        maxlength: 4,
                        minlength: 3,
                        number: true
                    },
                    "payment_information[expiry_date]": {
                        required: true
                    },
                    "payment_information[address]": {
                        maxlength: 255
                    },
                    "payment_information[city]": {
                        maxlength: 255
                    },
                    "payment_information[state]": {
                        maxlength: 255
                    },
                    "payment_information[country]": {
                        maxlength: 255
                    }
                }

            }
    );


    function submit_payment_method() {
        if ($("#payment_info_form").valid() == true) {
            $(".background_shadow").show();
            $("#payment_info_form").ajaxSubmit({
                success: function (data) {
                    if (data.success == "false") {
                        $(".background_shadow").hide();
                        hudMsg('error', data.message)
                    }
                    else {
                        $(".background_shadow").hide();
                        hudMsg('success', data.message)
                    }
                }
                ,
                error: function (data) {
                    $(".background_shadow").hide();
                    hudMsg('error', "Something went wrong, Please tray again later.")
                }
            })
        }
    }

    $("#transaction_form").validate({
                rules: {
                    "transaction[transaction_amount]": {
                        required: true,
                        number: true,
                        min: 1
                    }
                }

            }
    );

    function perform_transaction() {
        if ($("#transaction_form").valid() == true) {
            apprise("Are you Sure You want to do this transaction?", {'confirm': true}, function (r) {
                if (r) {
                    $(".background_shadow").show();
                    $("#transaction_form").ajaxSubmit({
                        success: function (data) {
                            if (data.success == "false") {
                                $(".background_shadow").hide();
                                hudMsg('error', data.message)
                            }
                            else {
                                $(".background_shadow").hide();
                                hudMsg('success', data.message)
                            }
                        },
                        error: function (data) {
                            $(".background_shadow").hide();
                            hudMsg('error', "Something went wrong, Please tray again later.")
                        }
                    })
                }
            })
        }
    }

</script>
